# すべてのファイルに適用される共通設定
root = true

[*]
indent_style = tab
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true # 共通設定では有効にしておく

# HTML/Astroファイルの設定
[*.{html,astro}]
trim_trailing_whitespace = false # ✨ このファイルでは無効にする
