@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "Noto Sans JP", "游ゴシック体", "Yu Gothic", "游ゴシック Medium", "Yu Gothic Medium", -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProW3", sans-serif;
	color: #333;
	font-feature-settings: "palt";
}

/* =======================
ユニーククラス
 ======================= */
 @media (min-width: 640px){
	.opacity-hover:hover {
   @apply opacity-[0.48];
}
 }

.duration {
  @apply transition-all duration-[240ms] ease-in-out;
}

.inner {
  @apply max-w-[1280px] px-[48px] sm:px-[24px] w-full mx-auto;
}

.bracket {
	@apply relative before:content-['['] after:content-[']'] align-[0.06em] before:pr-[0.24em] after:pl-[0.24em];
}

.is-active .js-open {
  @apply hidden; /* オープンボタンを非表示 */
}

.is-active .js-close {
  @apply block; /* クローズボタンを表示 */
}

.is-active .js-menu {
  @apply flex; /* メニューを表示 */
}

.is-active .js-bg {
  @apply block; /* 背景を表示 */
}
