@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/font/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "Noto Sans JP", "游ゴシック体", "Yu Gothic", "游ゴシック Medium", "Yu Gothic Medium", -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProW3", sans-serif;
	color: #333;
	font-feature-settings: "palt";
	word-break: break-all;
}

::selection {
  background-color: #0079C9;
  color: #ffffff;
}

/* =======================
ユニーククラス
 ======================= */
 @media (min-width: 640px){
	.opacity-hover:hover {
   @apply opacity-[0.48];
}
 }

.duration {
  @apply transition-all duration-[240ms] ease-in-out;
}

.inner {
  @apply max-w-[1280px] px-[48px] sm:px-[24px] w-full mx-auto;
}

.bracket {
	@apply relative before:content-['['] after:content-[']'] before:align-[0.06em] before:pr-[0.24em] after:pl-[0.24em] after:align-[0.06em];
}

.hashtag {
	@apply relative before:content-['#'] after:pl-[0.12em];
}

.referencemark {
	@apply relative before:content-['※'] before:pr-[0.48em] ;
}

/* =======================
ハンバーガーメニュー
 ======================= */
.is-active{
	@apply relative;
}
 .is-active .js-open {
  @apply hidden;
}

.is-active .js-close {
  @apply block;
}

.is-active .js-menu {
  @apply flex;
}

.is-active .js-bg {
  @apply block;
}


/* =======================
toc
 ======================= */

.level-2:first-of-type{
	@apply mt-0;
}
 .level-2{
	@apply mt-[12px] relative before:content-['○'] before:text-[0.48em] before:align-middle before:pr-[0.64em] before:mt-[0.8em]  text-[16px] font-medium leading-[1.48] tracking-[0.06em] flex items-start;
}
.level-3, .level-4{
	@apply mt-[4px] ml-[24px] relative before:content-['└'] before:text-[0.64em] before:align-middle before:pr-[0.48em] before:mt-[0.48em] before:font-black  text-[16px] font-medium leading-[1.48] tracking-[0.06em] flex items-start;
}

/* =======================
post
 ======================= */
 .post > :first-child {
	@apply mt-0;
 }
.post h2 {
	@apply font-bold text-[40px] leading-[1.6] tracking-[0.06em] mt-[120px];
}
.post h3 {
	@apply font-bold text-[32px] leading-[1.48] tracking-[0.06em] mt-[80px];
}
.post h4 {
	@apply font-bold text-[24px] leading-[1.48] tracking-[0.06em] mt-[64px];
}
.post p {
	@apply font-medium text-[20px] leading-[1.48] tracking-[0.06em] mt-[16px];
}
.post a {
	@apply opacity-hover duration;
}
.post ul, .post ol {
	@apply mt-[16px] px-[40px] pt-[40px] pb-[48px] rounded-xl bg-[#FAFAFA];
}
.post ol  {
	counter-reset: list-counter;
}
.post ul li:first-of-type, .post ol li:first-of-type {
	@apply mt-0;
}
.post ul li {
	@apply relative before:content-['◼︎'] before:text-[0.48em] before:align-middle before:pr-[0.48em] before:mt-[0.72em]  text-[20px] font-medium leading-[1.48] tracking-[0.06em] mt-[12px] flex items-start;
}
.post ol li {
	@apply relative before:pr-[0.48em] text-[20px] font-medium leading-[1.48] tracking-[0.06em] mt-[12px] flex items-start;
	counter-increment: list-counter;
}
.post ol li:before {
	content: counter(list-counter);
}

.post pre[class^="language-"] {
	@apply px-[48px] pt-[48px] pb-[56px] bg-[#333] text-[#FFF] rounded-xl mt-[32px];
}
.post figure img {
	@apply rounded-xl mt-[32px];
}
.post figure figcaption {
	@apply text-[16px] text-[#666] leading-[1.24] tracking-[0.04em] mt-[12px];
}
.post blockquote{
	@apply text-[12px] text-[#666] font-medium leading-[1.48] px-[24px] pt-[24px] pb-[28px] border-2 border-dashed rounded-lg border-[#666] referencemark flex items-start mt-[16px];
}
.post blockquote p{
	@apply mt-0 text-[12px] text-[#666] font-medium leading-[1.48] tracking-[0.04em];
}
.post hr {
	@apply mt-[48px] mb-[48px];
}
.post .table-container {
	@apply overflow-scroll sm:max-h-[480px] sm:h-full;
}
.post table {
	@apply w-full text-left table-fixed sm:table-auto;
}
.post table p {
	@apply mt-0 text-[16px] font-medium tracking-[0.06em] leading-[1.48];
}
.post th {
	@apply bg-[#eee];
}
.post th, .post td{
	@apply px-[24px] pt-[24px] pb-[28px] sm:min-w-[160px] sm:w-full;
}
.post .buttonPc {
	@apply leading-[1.48] text-[20px] w-full pt-[32px] pb-[34px] rounded-xl bg-[#0079C9] text-[#FFF] font-bold block text-center mt-[80px] sm:hidden;
}
.post .buttonSp{
	@apply hidden sm:block sm:fixed sm:bottom-0 sm:text-[16px] sm:pt-[20px] sm:pb-[24px] sm:bg-[#0079C9] sm:backdrop-blur-lg sm:text-[#FFF] sm:w-full sm:leading-[1.48] sm:text-center sm:rounded-none sm:-ml-[24px];
}
.post .marker {
	@apply bg-[#FAFAFA] font-bold text-[0.88em] text-[#E81F00] px-[0.48em] pt-[0.16em] pb-[0.24em];
}
