---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My first blog with Astro" header={false}>
  <main class="flex items-center justify-center h-[80vh] inner">
    <h1 class="text-center text-[32px] sm:text-[24px] font-bold leading-[1.4]">
			404 Not Found<br />
			お探しのページは見つかりませんでした
		</h1>
  </main>
</Layout>
