---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organisms/header.astro";
import { getBlogs, getCategoryList } from "../libs/microcms";
import type { Category } from "@libs/microcms.ts";

const [blogsResponse, categoriesResponse] = await Promise.all([
	getBlogs({ fields: ["id", "title"] }),
	getCategoryList(),
]);

const blogs = blogsResponse.contents;
const categories = categoriesResponse.contents;

interface Props {
	categories: Category[];
}
---

<Layout title="miyata blog">
	<Header
		navItems={[
			{ href: "/blog", text: "Blog" },
			{ href: "/about", text: "About" },
			{ href: "/contact", text: "Contact" },
		]}
	/>
	<main class="flex justify-between inner">
		<ul class="flex gap-[36px]">
			{
				blogs.map((blog) => (
					<li class="max-w-[408px] w-full">
						<a href={`/blogs/${blog.id}`}>{blog.title}</a>
					</li>
				))
			}
		</ul>
		<div>
			<p>カテゴリ</p>
			<ul>
				{
					categories.length === 0 ? (
						<li class="text-sm text-muted-foreground">カテゴリがありません</li>
					) : (
						categories.map((category) => (
							<li>
								<a
									href={`/categories/${category.id}`}
									class="text-sm hover:underline"
								>
									{category.name}
								</a>
							</li>
						))
					)
				}
			</ul>
		</div>
	</main>
</Layout>
