---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { getBlogs } from "../libs/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
import Header from "../components/organisms/header.astro";
---

<Layout title="miyata blog">
    <Header navItems={[
    { href: "/blog", text: "Blog" },
    { href: "/about", text: "About" },
    { href: "/contact", text: "Contact" },
  ]} />
  <main>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
