---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My first blog with Astro">
  <main>
    <h1 class="title"></h1>
    <p class="publishedAt"></p>
    <div class="post"></div>
  </main>
</Layout>
<script>
  import { getBlogDetail } from "../libs/microcms";
  const params = new URLSearchParams(window.location.search);
  const contentId = params.get("contentId");
  const draftKey = params.get("draftKey");

  if (contentId && draftKey) {
    getBlogDetail(contentId, { draftKey }).then((data) => {
      const titleElement = document.querySelector(".title");
      const publishedAtElement = document.querySelector(".publishedAt");
      const postElement = document.querySelector(".post");

      titleElement && (titleElement.textContent = data.title);
      publishedAtElement &&
        (publishedAtElement.textContent = data.publishedAt ?? data.createdAt);
      postElement && (postElement.innerHTML = data.content);
    });
  }
</script>
