---
import Icon from "./icon.astro";

export interface Props {
	href: string;
	label: string;
}

const { href, label } = Astro.props;
---

<a
	href={href}
	class="transrate-x-animation overflow-hidden inline-block text-white bg-[#0079C9] px-[20px] pt-[8px] pb-[10px] sm:px-[16px] sm:pt-[6px] sm:pb-[8px] rounded-full font-bold text-[16px] sm:text-[14px] leading-none tracking-[0.06em] opacity-hover duration"
	><span class="font-normal">VIEW</span> {label} <span
		class="rounded-full align-[-4px] sm:align-[-3px] inline-flex justify-center items-center bg-[#FAFAFA] overflow-hidden"
		><Icon
			filename="icon_arrow_forward"
			color="#0079C9"
			customClass="animation-icon p-[2px] aspect-square w-[20px] sm:w-[16px]"
		/></span
	></a
>
