---
import IconComponent from "../atoms/icon.astro";
import type { Icon } from "../../types";

export interface Props {
	icon: Icon;
	showExpandBtn?: boolean;
}

const { icon, showExpandBtn = false } = Astro.props;
---

<li class="relative text-center">
	<div class="expand-img max-w-[64px] sm:max-w-[48px] mx-auto duration">
		<img src={icon.image.url} alt={icon.title} class="w-full" />
	</div>
	<p class="whitespace-nowrap mt-[12px] text-[12px] sm:text-[10px] leading-none tracking-[0.06em] font-black">
		{icon.title}
	</p>
	<p class="whitespace-nowrap mt-[6px] bracket text-[10px] sm:text-[10px] leading-none tracking-[0.06em] font-bold">
		{icon.enTitle}
	</p>
	{
		showExpandBtn && (
			<button class="expand-btn bg-[#F8F8F8] text-[12px] sm:text-[10px] font-bold leading-none tracking-[0.04em] pt-[4px] pb-[6px] mt-[12px] block w-full text-[#0079C9] opacity-hover duration">
				拡大
				<IconComponent
					filename="icon_fullscreen"
					color="#0079C9"
					customClass="w-[14px] ml-[4px] sm:w-[12px] align-text-top sm:ml-[2px]"
				/>
			</button>
		)
	}
</li>
