<footer class="mt-[20px] mb-[24px] sm:mt-[12px] sm:mb-[16px] text-[10px]">
	<div class="flex items-center justify-start gap-[32px] sm:flex-col-reverse sm:items-start sm:gap-[8px] inner">
		<small class="leading-none">&copy; 2025 MiyataShu</small>
		<div>
		<a href="/about-site" class="text-[#999] hover:opacity-[0.64] duration tracking-[0.06em] mr-[12px] sm:mr-[8px] leading-none">このサイトについて</a>
		<a href="/privacy-policy" class="text-[#999] hover:opacity-[0.64] duration tracking-[0.06em] leading-none">プライバシーポリシー</a>
		</div>
	</div>
</footer>
