<footer class="mt-[20px] mb-[24px] sm:mt-[12px] sm:mb-[16px] text-[10px]">
	<div class="inner">
		<small>&copy; 2025 MiyataShu</small>
		<span class="text-[#ccc] mx-[8px]">｜</span>
		<a href="/about-site" class="text-[#999] hover:opacity-[0.64] duration tracking-[0.06em]">このサイトについて</a>
	</div>
</footer>
