---
import Icon from "../atoms/icon.astro";

// `page`オブジェクトと`totalCount`をpropsとして受け取る
const { page, totalCount } = Astro.props;
const PER_PAGE = 10;
const lastPage = Math.ceil(totalCount / PER_PAGE);
---

<div class="flex justify-center mt-[120px] sm:mt-[80px]">
  <nav class="flex items-center gap-[12px]">
    {
      page.url.prev && (
        <a
          href={page.url.prev}
          class="flex items-center w-[40px] h-[40px] aspect-square rounded-full bg-white opacity-hover duration"
        >
          <Icon
            filename="icon_arrow_left"
            color="#333"
            customClass="w-[24px]"
          />
        </a>
      )
    }

    {
      Array.from({ length: lastPage }, (_, i) => (
        <a
          href={i + 1 === 1 ? "/blogs" : `/blogs/${i + 1}`}
          class={`w-[40px] h-[40px] aspect-square rounded-full flex items-center justify-center opacity-hover duration ${i + 1 === page.currentPage ? "bg-[#0079C9] text-white" : "bg-white"}`}
        >
          <span>{i + 1}</span>
        </a>
      ))
    }

    {
      page.url.next && (
        <a
          href={page.url.next}
          class="flex items-center justify-center w-[40px] h-[40px] aspect-square rounded-full bg-white opacity-hover duration"
        >
          <Icon
            filename="icon_arrow_right"
            color="#333"
            customClass="w-[24px]"
          />
        </a>
      )
    }
  </nav>
</div>
